/*
Overwrite styles
 */
body:not(.menu-on-top).desktop-detected {
    min-height: 950px !important;
}
.btn-header.no-style>:first-child>a {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
}
    .btn-header.no-style>:first-child>a>* {
        display: inline-block;
        vertical-align: middle;
    }
#left-panel {
    padding-top: 0;
}
.hidden-menu #left-panel {
    left: -210px !important;
    z-index: 906 !important;
}
.hidden-menu #left-panel:hover {
    left: 0 !important;
}
.hidden-menu #main {
    left: 0px !important;
}
#header {
    margin-left: 220px;
    webkit-transition: 250ms cubic-bezier(0.1,.57,.1,1);
    transition: 250ms cubic-bezier(0.1,.57,.1,1);
    -webkit-transform: translate(0px,0) translateZ(0px);
}
@media (max-width: 979px) {
    #header {
        margin-left: 0;
    }
}
.minified #header {
    margin-left: 46px;
}
.hidden-menu #header {
    margin-left: 10px;
}
.hidden-menu #header .ajax-dropdown {
    left: -5px;
}
.hidden-menu #header .ajax-dropdown:before,
.hidden-menu #header .ajax-dropdown:after {
    left: 16.5%;
}
.ajax-dropdown {
    left: -137px;
}
#logo-group>* {
    margin-left: 10px !important;
}
    #hide-menu>:first-child>a {
        box-sizing: border-box;
    }
.legendColorBox {
    padding: 0;
}
    .legendColorBox div {
        padding: 2px;
    }
    .legendColorBox div>div {
        width: 6px;
        height: 6px;
        border-radius: 0;
    }
.input-lg {
    font-size: 15px;
    height: 30px;
    padding: 2.5px 10px;
}
.select2-container .select2-choice .select2-arrow {
    width: 25px;
}
/*
~
 */

/*
General uses
 */
.padding-right-5  { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right-none { padding-right: 0; }
.padding-left-5  { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-none { padding-left: 0; }

@media (max-width: 768px) {
    .padding-right-none .input-group {
        padding-right: 13px;
    }
    .padding-left-none .input-group {
        padding-left: 13px;
    }

    .no-padding .input-group {
        padding-left: 13px;
        padding-right: 13px;
    }
}

.page-title {
    text-transform: capitalize;
}

.smart-form .state-error .tooltip {
    background: #b94a48;
}
/*
~
 */

/*
Layout
 */
.navigation-logo {
    width: 90%;
    height: 50px;
    margin: 25px auto;
    background-image: url("../img/mexiled/logoMexiledBlanco.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.minified .navigation-logo {
    background-image: url("../img/mexiled/logoMexiledMini.png");
}
/*
~
 */

/*
Forms
 */
.form-div-table {
    display: table;
    width: 100%;
}
.form-div-table>* { display: table-cell; }
.form-div-table.alingcenter>* { text-align: center; }
.form-div-table.alingleft>* { text-align: left; }
.form-div-table.alingright>* { text-align: right; }
.form-div-table.vmiddle>* { vertical-align: middle; }
.form-div-table.vtop>* { vertical-align: top; }
.form-div-table.vbottom>* { vertical-align: bottom; }
.form-div-table>.actions { width: 1%; white-space: nowrap; }

.form-added {}
    .form-added input:read-only,
    .form-added select:read-only {
        border: none;
        background: transparent;
    }
.icon-addon .form-control:focus:read-only+.fa,
.icon-addon .form-control:focus:read-only+.glyphicon,
.icon-addon:hover .form-control:read-only+.fa,
.icon-addon:hover .form-control:read-only+.glyphicon {
    color: #555;
}
.has-error .form-control+.fa,
.has-error .form-control+.glyphicon {
    color: #b94a48 !important;
}

.input-group.read-only>* {
    border: none;
    background: transparent;
}
.input-group.read-only .form-control {
    padding: 0;
}
select:disabled {
    padding-right: 20px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
select:disabled::-ms-expand {
    display: none;
}
select:disabled+.hide-select-arrow {
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
    background: #ffffff;
    z-index: 10000;
}
.editable {
    color: #3276b1;
    border: none;
}
a.editable:hover {
    color: #214e75;
}
.editable-disabled,
.editable-disabled>a {
    color: #585858 !important;
    cursor: default;
}
.select2-container--disabled .select2-choice,
.select2-container--disabled .select2-selection {
    border: none;
}
.select2-container--disabled .select2-selection__choice {
    padding-right: 8px;
}
.select2-container--disabled .select2-arrow,
.select2-container--disabled .select2-selection__arrow,
.select2-container--disabled .select2-selection__choice__remove {
    display: none;
}
span.field-name {
    font-weight: bold;
    width: 1%;
    padding-right: 8px !important;
    white-space: nowrap;
}
.select2-hidden-accessible {
    display: none;
}
/*
~
 */

/*
Datatables
 */
table.dataTable {
    margin-top: 0 !important;
}
table.dataTable .table-actions-buttons {
    width: 1%;
    white-space: nowrap;
}
@media (max-width: 767px) {
    table.dataTable .table-actions-buttons {
        white-space: normal;
    }
    table.dataTable .table-actions-buttons .btn {
        margin-left: 0.3em;
    }
}
table.dataTable .table-actions-buttons .btn:not(:first-child) {
    margin-left: 0.3em;
}
table.dataTable th.no_sorting {
    padding-right: 9px;
    background: none !important;
}
table.dataTable:not(.show-sorting) tr th[class^="sorting"] {
    background: none;
    background-color: transparent !important;
}
table.dataTable .table-actions-buttons label {
    height: 25px;
    margin-bottom: 0;
}
    table.dataTable .table-actions-buttons label * {
        height: 100%;
    }
table.dataTable tr th .select2-container {
    width: 100%;
}
/*
~
 */

/*
Perfiles
 */
.perfiles-tree input {
    min-width: 0 !important;
    margin: -2px 0 0;
    vertical-align: middle;
}
.perfiles-tree .parent_li {
    font-weight: 900;
}
.perfiles-tree .parent_li .fa-lg {
    margin-right: 5px;
    width: 10px;
}
.perfiles-tree .parent_li .fa-folder {
    margin-right: 3px;
}
.perfiles-tree ul ul {
    padding-left: 30px;
    padding-top: 0;
}
.perfiles-tree li {
    font-weight: normal;
    padding: 1px 0;
}
.perfiles-tree li:after, .perfiles-tree li:before {
    content: none;
}
.perfiles-tree li span {
    padding: 0 !important;
    border: none;
    border-radius: 0;
}
.perfiles-tree li span:hover {
    color: #000000 !important;
    border: none !important;
    background-color: transparent !important;
}
.perfiles-tree li.parent_li>span:hover+ul li span {
    color: #333333;
    border: none;
    background-color: transparent !important;
}
.perfiles-tree li span>*:last-child {
    margin-left: 3px;
    margin-right: 5px;
}
/*
~
 */