<header id="header"  class="animated fadeInDown" >
    <span id="extr-page-header-space" style="width: auto;">
        <span class="hidden-mobile hiddex-xs">¿Aún no tienes cuenta?</span>
        <a ui-sref="register" class="btn btn-warning">Crear cuenta</a>
    </span>
</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
                <div class="hero">
                    <img src="styles/img/mexiled/logoMexiledNegro.png" class="pull-right margin-top-10 margin-right-13" alt>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding smart-form">
                    <header>
                        Ingresar
                    </header>
                    <form name="login" id="login-form" class="client-form" novalidate>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input" ng-class="{'state-error': !user.valid}">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="user" ng-model="user.value" required>
                                    <b class="tooltip tooltip-top-right">
                                        <i class="fa fa-user" ng-class="{'txt-color-teal': user.valid}"></i>
                                        {{user.valid?'Ingrese su dirección E-mail':'No es un E-mail valido'}}
                                    </b>
                                </label>
                            </section>
                            <section>
                                <label class="label">Contraseña</label>
                                <label class="input" ng-class="{'state-error': !pass.valid}">
                                    <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" minlength="6" ng-model="pass.value" required>
                                    <b class="tooltip tooltip-top-right" ng-hide="login.password.$valid">
                                        <i class="fa fa-lock" ng-class="{'txt-color-teal': pass.valid}"></i>
                                        {{login.password.$invalid&&!login.password.$error.required?'Ingrese almenos 6 carateres':'Ingrese su contraseña'}}
                                    </b>
                                </label>

                                <div class="note" ng-if="false">
                                    <a ui-sref="forgotPassword">¿Olvidaste tu contraseña?</a>
                                </div>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-warning" ng-click="ingresar()">
                                Ingresar
                            </button>
                            <div class="txt-color-red pull-right margin-top-10 margin-right-13" ng-if="loginError">
                                Error, revise que su información este correcta.
                            </div>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>