<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <big-breadcrumbs items="[pageTitle]" icon="briefcase"
                         class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <div class="row">
        <div has-permission="PROJECT_ADD" class="col-sm-12 text-align-right margin-bottom-10">
            <a class="btn btn-success btn-labeled" data-ui-sref="app.proyecto.accion({accion: 'agregar'})">
                <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Agregar {{::pageTitle}}
            </a>
        </div>
        <article class="col-sm-12 col-lg-10">

            <div jarvis-widget id="standard-datatable-widget" class="datatable-whitehead"
                 data-widget-fullscreenbutton="false" data-widget-deletebutton="false"
                 data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false">
                <header>
                    <span class="widget-icon icon-table fa fa-table"> <i></i> </span>
                    <h2>{{::pageTitle}}</h2>
                </header>
                <div style="border-color: #B1B0B5 !important;">
                    <div class="widget-body no-padding">

                        <table datatable dt-instance="instanceCallback" dt-options="standardOptions" dt-columns="standardColumns" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th style="width: 40%;">
                                    <input type="text" class="form-control" placeholder="Nombre" style="height: 32px;" />
                                </th>
                                <th style="width: 35%;">
                                    <input type="text" class="form-control" placeholder="Código" style="height: 32px;" />
                                </th>
                                <th style="width: 10%;">
                                    <select ng-model="status" data-smart-select2 class="select-filter" dropdown-class="select-filter" placeholder="Status">
                                        <option></option>
                                        <option value="">Todos</option>
                                        <option ng-repeat="value in statusFilter" value="{{value}}" ng-if="value">{{value}}</option>
                                    </select>
                                </th>
                                <th class="no_sorting" style="width: 1%;">
                                    <label class="select pull-right" id="table-lenght-container">
                                        <div class="table-lenght-ctrl-container">
                                            <select id="table-lenght-ctrl">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </label>
                                </th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </article>
    </div>

</div>