<div id="content">
    <div class="well col-lg-10">

        <div class="row">
            <big-breadcrumbs items="[pageTitle, action]" icon="id-card"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        </div>

        <div class="row ng-hide" ng-show="(action==='add'||action==='agregar')||!!dataReady">
            <form name="form" novalidate>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group" ng-class="{
                            'has-success':(form.submited&&form.name.$valid),
                            'has-error':(form.submited&&form.name.$invalid)
                        }">
                        <div class="margin-bottom-5"><b>Nombre del Perfil</b></div>
                        <div class="input-group" ng-class="{'read-only':readOnly}">
                            <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                            <input class="form-control" type="text" name="name"
                                   ng-readonly="readOnly" ng-model="profile.profileName" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||form.name.$valid">
                            Por favor ingresa el nombre del perfil.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <div class="tree smart-form perfiles-tree">
                        <div><b>Permisos</b></div>
                        <ul data-perfiles-treeview data-items="profile.tree" role="tree"></ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-align-right">
            <button class="btn btn-default" ng-click="cancel()">{{!readOnly?'Cancelar':'Regresar'}}</button>
            <button  ng-if="!readOnly" class="btn btn-primary" ng-click="save()">Guardar</button>
        </div>

    </div>
</div>