<header id="header">
<div id="logo-group">
    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-left">
        <span> <a toggle-menu title="Collapse Menu" style="box-sizing: border-box;"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->
    <!-- Note: The activity badge color changes when clicked and resets the number to 0
    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    <span id="activity" class="activity-dropdown" activities-dropdown-toggle> 
        <i class="fa fa-user"></i> 
        <b class="badge bg-color-red">21</b> 
    </span>
    <div smart-include="app/dashboard/activities/activities.html"></div>

    <!-- fullscreen button -->
    <div id="fullscreen" class="btn-header transparent pull-left">
        <span> <a full-screen title="Full Screen" style="box-sizing: border-box;"><i
                class="fa fa-arrows-alt"></i></a> </span>
    </div>
    <!-- end fullscreen button -->
</div>

<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- #MOBILE -->
    <!-- logout button -->
    <div id="logout" class="btn-header transparent no-style pull-right">
        <span>
            <a user-logout style="width: auto !important;">
                <i class="fa fa-sign-out"></i>
                <span style="font-size: 70%;"> Cerrar Sesión </span>
            </a>
        </span>
    </div>
    <!-- end logout button -->

    <!-- search mobile button (this is hidden till mobile view port) -->
    <div ng-if="false" id="search-mobile" class="btn-header transparent pull-right" data-search-mobile>
        <span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>
    </div>
    <!-- end search mobile button -->

    <!-- input: search field -->
    <form ng-if="false" action="#/search" class="header-search pull-right">
        <input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"]'>
        <button type="submit">
            <i class="fa fa-search"></i>
        </button>
        <a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
    </form>
    <!-- end input: search field -->
</div>
<!-- end pulled right: nav area -->

</header>