<aside id="left-panel">

    <div class="navigation-logo"></div>

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>

            <li data-ui-sref-active="active">
                <a data-ui-sref="app.monitor" title="Estatus de Infraestructura">
                    <i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent">Estatus de Infraestructura</span>
                </a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.operativo" title="Operativo">
                    <i class="fa fa-lg fa-fw fa-wrench"></i> <span class="menu-item-parent">Operativo</span>
                </a>
            </li>
            <li data-menu-collapse
                >
                <a>
                    <i class="fa fa-lg fa-fw fa-th-large"></i> <span class="menu-item-parent">Gestion Proyectos</span>
                </a>
                <ul>
                    <li data-ui-sref-active="active"
                        >
                        <a data-ui-sref="app.proyecto">
                            <i class="fa fa-fw fa-suitcase"></i> <span>Proyectos</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active"
                        has-permission="project.view, project.add, project.edit, project.delete">
                        <a data-ui-sref="app.proyecto.seccion">
                            <i class="fa fa-fw fa-th-list"></i> <span>Secciones</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active"
                        has-permission="project.view, project.add, project.edit, project.delete">
                        <a data-ui-sref="app.proyecto.seccion.poligono">
                            <i class="fa fa-fw fa-cube"></i> <span>Poligonos</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active"
                        has-permission="project.view, project.add, project.edit, project.delete">
                        <a data-ui-sref="app.proyecto.seccion.poligono.circuito">
                            <i class="fa fa-fw fa-microchip"></i> <span>Circuitos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse
                has-permission="user.view, user.add, user.edit, user.delete,
                                profile.view, profile.add, profile.edit, profile.delete,
                                module.view, module.add, module.edit, module.delete">
                <a>
                    <i class="fa fa-lg fa-fw fa-user-circle-o"></i> <span class="menu-item-parent">Administración</span>
                </a>
                <ul>
                    <li data-ui-sref-active="active"
                        has-permission="user.view, user.add, user.edit, user.delete">
                        <a data-ui-sref="app.admin.usuarios">
                            <i class="fa fa-fw fa-user"></i> <span>Usuarios</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active"
                        has-permission="profile.view, profile.add, profile.edit, profile.delete">
                        <a data-ui-sref="app.admin.perfiles">
                            <i class="fa fa-fw fa-id-card"></i> <span>Perfiles</span>
                        </a>
                    </li>
                    <li data-ui-sref-active="active"
                        has-permission="module.view, module.add, module.edit, module.delete">
                        <a data-ui-sref="app.admin.modulos">
                            <i class="fa fa-fw fa-shield"></i> <span>Modulos</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>