<div id="content">
    <div class="well col-lg-10">

        <div class="row">
            <big-breadcrumbs items="[pageTitle, action]" icon="user"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        </div>

        <div class="row ng-hide" ng-show="(action==='add'||action==='agregar')||!!dataReady">
            <form name="form" novalidate>
                <div class="col-sm-12 col-md-10" >
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&!form.name.$error.required),
                            'has-error': (form.submited&&form.name.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Nombre</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="name"
                                   ng-model="user.name" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.name.$error.required">
                            Por favor ingresa el nombre.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&!form.email.$error.required&&user.validEmail),
                            'has-error': (form.submited&&(form.email.$error.required||!user.validEmail))
                        }">
                        <div class="margin-bottom-5"><b>e-mail</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input class="form-control input-lg" type="email" name="email"
                                   ng-model="user.email" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||(!form.email.$error.required&&user.validEmail)">
                                  {{user.validEmail?'El e-mail no es valido.':'Por favor ingresa el e-mail.'}}
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group col-sm-6 no-padding" ng-class="{
                            'has-success':(form.submited&&!!user.profileId),
                            'has-error':(form.submited&&!user.profileId)
                        }">
                        <div class="margin-bottom-5"><b>Perfil de usuario</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-id-card fa-fw"></i></span>
                            <select name="profile" ng-model="user.profileId" ng-disabled="readOnly" class="form-control" >
                                <option ng-repeat="profile in listOfProfiles" value="{{profile.profileId}}">{{profile.profileName}}</option>
                            </select><span class="hide-select-arrow" ng-if="readOnly"></span>
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!!user.profileId">
                            Por favor seleccione un perfil para el usuario.
                        </span>
                    </div>
                    <div class="form-group col-sm-6" style="padding-right: 0;">
                        <div class="margin-bottom-5"><b>Status</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-check-circle-o fa-fw"></i></span>
                            <select name="status" ng-model="user.active" ng-disabled="readOnly" class="form-control" >
                                <option value="true">ACTIVO</option>
                                <option value="false">INACTIVO</option>
                            </select><span class="hide-select-arrow" ng-if="readOnly"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10" ng-if="!readOnly">
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&form.password.$valid),
                            'has-error': (form.submited&&form.password.$invalid)
                          }">
                        <div class="margin-bottom-5"><b>Contraseña</b></div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                            <input class="form-control" type="password" minlength="6"
                                   name="password" ng-required="action=='add'||action=='agregar'"
                                   ng-model="user.password" >
                        </div>
                        <span class="help-block" ng-hide="!form.submited||form.password.$valid">
                            {{!form.password.$error.required?'La contraseña debe tener almenos 6 carateres.':'Por favor ingresa la contraseña.'}}
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10" ng-if="!readOnly">
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&user.password.length>=6&&form.passwordConfirm.$valid),
                            'has-error': (form.submited&&(!!user.password&&user.password.length>=6)&&(form.passwordConfirm.$invalid||user.password!=user.passwordConfirm))
                          }">
                        <div class="margin-bottom-5"><b>Confirmar contraseña</b></div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-unlock-alt fa-fw"></i></span>
                            <input class="form-control" type="password" name="passwordConfirm"
                                   ng-required="action=='add'||action=='agregar'" ng-model="user.passwordConfirm" >
                        </div>
                        <span class="help-block" ng-hide="!form.submited||(!user.password||user.password.length<6)||user.password===user.passwordConfirm">
                            {{form.passwordConfirm.$invalid ? 'Ingresa la contraseña nuevamente.':'No coincide con la contraseña.'}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-align-right">
            <button class="btn btn-default" ng-click="cancel()">{{(action!='view'&&action!='ver')?'Cancelar':'Regresar'}}</button>
            <button ng-if="!readOnly" class="btn btn-primary" ng-click="save()">Guardar</button>
        </div>

    </div>
</div>