<div id="content">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 margin-bottom-10">
        <div class="col-md-2">
            <label><strong>Circuito</strong></label>
            <input type="text" placeholder="Circuito" class="form-control">
        </div>

        <div class="col-md-4">
            <label><strong>Descripción</strong></label>
            <input type="text" placeholder="Descripción" class="form-control">
        </div>

        <div class="col-md-2">
            <label><strong>Estado</strong></label>
            <select style="width: 100%" class="form-control">
                <option value="1">Aguascalientes</option>
                <option value="2">Baja California</option>
                <option value="3">Baja California Sur</option>
                <option value="4">Campeche</option>
                <option value="5">Colima</option>
                <option value="6">Coahuila</option>
                <option value="7">Chiapas</option>
                <option value="8">Chihuahua</option>
                <option value="9">Distrito Federal</option>
                <option value="10">Durango</option>
                <option value="11">Guerrero</option>
                <option value="12">Guanajuato</option>
                <option value="13">Hidalgo</option>
                <option value="14" selected="selected">Jalisco</option>
                <option value="15">Mexico</option>
                <option value="16">Michoacan</option>
                <option value="17">Morelos</option>
                <option value="18">Nayarit</option>
                <option value="19">Nuevo Leon</option>
                <option value="20">Oaxaca</option>
                <option value="21">Puebla</option>
                <option value="22">Queretaro</option>
                <option value="23">Quintana Roo</option>
                <option value="24">Sinaloa</option>
                <option value="25">San Luis Potosi</option>
                <option value="26">Sonora</option>
                <option value="27">Tabasco</option>
                <option value="28">Tamaulipas</option>
                <option value="29">Tlaxcala</option>
                <option value="30">Veracruz</option>
                <option value="31">Yucatan</option>
                <option value="32">Zacatecas</option>
            </select>
        </div>

        <div class="col-md-2">
            <label><strong>Municipio</strong></label>
            <select style="width: 100%" class="form-control">
                <option value="528">Acatic</option>
                <option value="529">Acatlan de Juarez</option>
                <option value="530">Ahualulco de Mercado</option>
                <option value="531">Amacueca</option>
                <option value="532">Amatitan</option>
                <option value="533">Ameca</option>
                <option value="534">San Juanito de Escobedo</option>
                <option value="535">Arandas</option>
                <option value="536">El Arenal</option>
                <option value="537">Atemajac de Brizuela</option>
                <option value="538">Atengo</option>
                <option value="539">Atenguillo</option>
                <option value="540">Atotonilco El Alto</option>
                <option value="541">Atoyac</option>
                <option value="542">Autlan de Navarro</option>
                <option value="543">Ayotlan</option>
                <option value="544">Ayutla</option>
                <option value="545">La Barca</option>
                <option value="546">Bolaños</option>
                <option value="547">Cabo Corrientes</option>
                <option value="548">Casimiro Castillo</option>
                <option value="549">Cihuatlan</option>
                <option value="550">Zapotlan El Grande (ciudad Guzman)</option>
                <option value="551">Cocula</option>
                <option value="552">Colotlan</option>
                <option value="553">Concepcion de Buenos Aires</option>
                <option value="554">Cuautitlan (de Garcia Barragan)</option>
                <option value="555">Cuautla</option>
                <option value="556">Cuquio</option>
                <option value="557">Chapala</option>
                <option value="558">Chimaltitan</option>
                <option value="559">Chiquilistlan</option>
                <option value="560">Degollado</option>
                <option value="561">Ejutla</option>
                <option value="562">Encarnacion de Diaz</option>
                <option value="563">Etzatlan</option>
                <option value="564">El Grullo</option>
                <option value="565">Guachinango</option>
                <option value="566">Guadalajara</option>
                <option value="567">Hostotipaquillo</option>
                <option value="568">Huejucar</option>
                <option value="569">Huejuquilla El Alto</option>
                <option value="570">La Huerta</option>
                <option value="571">Ixtlahuacan de los Membrillos</option>
                <option value="572">Ixtlahuacan Del Rio</option>
                <option value="573">Jalostotitlan</option>
                <option value="574">Jamay</option>
                <option value="575">Jesus Maria</option>
                <option value="576">Jilotlan de los Dolores</option>
                <option value="577">Jocotepec</option>
                <option value="578">Juanacatlan</option>
                <option value="579">Juchitlan</option>
                <option value="580">Lagos de Moreno</option>
                <option value="581">El Limon</option>
                <option value="582">Magdalena</option>
                <option value="583">Santa Maria Del Oro</option>
                <option value="584">La Manzanilla de La Paz</option>
                <option value="585">Mascota</option>
                <option value="586">Mazamitla</option>
                <option value="587">Mexticacan</option>
                <option value="588">Mezquitic</option>
                <option value="589">Mixtlan</option>
                <option value="590">Ocotlan</option>
                <option value="591">Ojuelos de Jalisco</option>
                <option value="592">Pihuamo</option>
                <option value="593">Poncitlan</option>
                <option value="594">Puerto Vallarta</option>
                <option value="595">Villa Purificacion</option>
                <option value="596">Quitupan</option>
                <option value="597">El Salto</option>
                <option value="598">San Cristobal de La Barranca</option>
                <option value="599">San Diego de Alejandria</option>
                <option value="600">San Juan de los Lagos</option>
                <option value="601">San Julian</option>
                <option value="602">San Marcos</option>
                <option value="603">San Martin de Bolaños</option>
                <option value="604">San Martin de Hidalgo</option>
                <option value="605">San Miguel El Alto</option>
                <option value="606">Gomez Farias</option>
                <option value="607">San Sebastian Del Oeste</option>
                <option value="608">Santa Maria de los Angeles</option>
                <option value="609">Sayula</option>
                <option value="610">Tala</option>
                <option value="611">Talpa de Allende</option>
                <option value="612">Tamazula de Gordiano</option>
                <option value="613">Tapalpa</option>
                <option value="614">Tecalitlan</option>
                <option value="615">Tecolotlan</option>
                <option value="616">Techaluta de Montenegro</option>
                <option value="617">Tenamaxtlan</option>
                <option value="618">Teocaltiche</option>
                <option value="619">Teocuitatlan de Corona</option>
                <option value="620">Tepatitlan de Morelos</option>
                <option value="621">Tequila</option>
                <option value="622">Teuchitlan</option>
                <option value="623">Tizapan El Alto</option>
                <option value="624">Tlajomulco de Zuñiga</option>
                <option value="625">Tlaquepaque</option>
                <option value="626">Toliman</option>
                <option value="627">Tomatlan</option>
                <option value="628" selected="selected">Tonala</option>
                <option value="629">Tonaya</option>
                <option value="630">Tonila</option>
                <option value="631">Totatiche</option>
                <option value="632">Tototlan</option>
                <option value="633">Tuxcacuesco</option>
                <option value="634">Tuxcueca</option>
                <option value="635">Tuxpan</option>
                <option value="636">Union de San Antonio</option>
                <option value="637">Union de Tula</option>
                <option value="638">Valle de Guadalupe</option>
                <option value="639">Valle de Juarez</option>
                <option value="640">San Gabriel (cd Venustiano Carranza)</option>
                <option value="641">Villa Corona</option>
                <option value="642">Villa Guerrero</option>
                <option value="643">Villa Hidalgo</option>
                <option value="644">Cañadas de Obregon</option>
                <option value="645">Yahualica de Gonzalez Gallo</option>
                <option value="646">Zacoalco de Torres</option>
                <option value="647">Zapopan</option>
                <option value="648">Zapotiltic</option>
                <option value="649">Zapotitlan de Vadillo</option>
                <option value="650">Zapotlan Del Rey</option>
                <option value="651">Zapotlanejo</option>
                <option value="512">Agua de Dios</option>
                <option value="513">Albán</option>
                <option value="514">Anapoima</option>
                <option value="515">Anolaima</option>
                <option value="516">Apulo</option>
                <option value="517">Arbeláez</option>
                <option value="518">Beltrán</option>
                <option value="519">Bituima</option>
                <option value="520">Bojacá</option>
                <option value="521">Cabrera</option>
                <option value="522">Cachipay</option>
                <option value="523">Cajicá</option>
                <option value="524">Caparrapí</option>
                <option value="525">Caqueza</option>
                <option value="526">Carmen de Carupa</option>
                <option value="527">Chaguaní</option>
                <option value="528">Chía</option>
                <option value="529">Chipaque</option>
                <option value="530">Choachí</option>
                <option value="531">Chocontá</option>
                <option value="532">Cogua</option>
                <option value="533">Cota</option>
                <option value="534">Cucunubá</option>
                <option value="535">El Colegio</option>
                <option value="536">El Peñón</option>
                <option value="537">El Rosal</option>
                <option value="538">Facatativá</option>
                <option value="539">Fómeque</option>
                <option value="540">Fosca</option>
                <option value="541">Funza</option>
                <option value="542">Fúquene</option>
                <option value="543">Fusagasugá</option>
                <option value="544">Gachalá</option>
                <option value="545">Gachancipá</option>
                <option value="546">Gachetá</option>
                <option value="547">Gama</option>
                <option value="548">Girardot</option>
                <option value="549">Granada</option>
                <option value="550">Guachetá</option>
                <option value="551">Guaduas</option>
                <option value="552">Guasca</option>
                <option value="553">Guataquí</option>
                <option value="554">Guatavita</option>
                <option value="555">Guayabal de Siquima</option>
                <option value="556">Guayabetal</option>
                <option value="557">Gutiérrez</option>
                <option value="558">Jerusalén</option>
                <option value="559">Junín</option>
                <option value="560">La Calera</option>
                <option value="561">La Mesa</option>
                <option value="562">La Palma</option>
                <option value="563">La Peña</option>
                <option value="564">La Vega</option>
                <option value="565">Lenguazaque</option>
                <option value="566">Macheta</option>
                <option value="567">Madrid</option>
                <option value="568">Manta</option>
                <option value="569">Medina</option>
                <option value="570">Mosquera</option>
                <option value="571">Nariño</option>
                <option value="572">Nemocón</option>
                <option value="573">Nilo</option>
                <option value="574">Nimaima</option>
                <option value="575">Nocaima</option>
                <option value="576">Pacho</option>
                <option value="577">Paime</option>
                <option value="578">Pandi</option>
                <option value="579">Paratebueno</option>
                <option value="580">Pasca</option>
                <option value="581">Puerto Salgar</option>
                <option value="582">Pulí</option>
                <option value="583">Quebradanegra</option>
                <option value="584">Quetame</option>
                <option value="585">Quipile</option>
                <option value="586">Ricaurte</option>
                <option value="587">San Antonio del Tequendama</option>
                <option value="588">San Bernardo</option>
                <option value="589">San Cayetano</option>
                <option value="590">San Francisco</option>
                <option value="591">San Juan de Río Seco</option>
                <option value="592">Sasaima</option>
                <option value="593">Sesquilé</option>
                <option value="594">Sibaté</option>
                <option value="595">Silvania</option>
                <option value="596">Simijaca</option>
                <option value="597">Soacha</option>
                <option value="598">Sopó</option>
                <option value="599">Subachoque</option>
                <option value="600">Suesca</option>
                <option value="601">Supatá</option>
                <option value="602">Susa</option>
                <option value="603">Sutatausa</option>
                <option value="604">Tabio</option>
                <option value="605">Tausa</option>
                <option value="606">Tena</option>
                <option value="607">Tenjo</option>
                <option value="608">Tibacuy</option>
                <option value="609">Tibirita</option>
                <option value="610">Tocaima</option>
                <option value="611">Tocancipá</option>
                <option value="612">Topaipí</option>
                <option value="613">Ubalá</option>
                <option value="614">Ubaque</option>
                <option value="615">Une</option>
                <option value="616">Útica</option>
                <option value="617">Venecia</option>
                <option value="618">Vergara</option>
                <option value="619">Vianí</option>
                <option value="620">Villa de San Diego de Ubaté</option>
                <option value="621">Villagómez</option>
                <option value="622">Villapinzón</option>
                <option value="623">Villeta</option>
                <option value="624">Viotá</option>
                <option value="625">Yacopí</option>
                <option value="626">Zipacón</option>
                <option value="627">Zipaquirá</option>
                <option value="218">Ocotepeque</option>
                <option value="219">Belén Gualcho </option>
                <option value="220">Concepción</option>
                <option value="221">Dolores Merendón </option>
                <option value="222">Fraternidad</option>
                <option value="223">La Encarnación</option>
                <option value="224">La Labor</option>
                <option value="225">Lucema</option>
                <option value="226">Mercedes</option>
                <option value="227">San Fernando </option>
                <option value="228">San Francisco del Valle</option>
                <option value="229">San Jorge</option>
                <option value="230">San Marcos </option>
                <option value="231">Santa Fé </option>
                <option value="232">Sensenti</option>
                <option value="233">Sinuapa </option>
                <option value="183">Quetzaltenango</option>
                <option value="184">Salcajá</option>
                <option value="185">Olintepeque</option>
                <option value="186">San Carlos Sija</option>
                <option value="187">Sibilia</option>
                <option value="188">Cabrican</option>
                <option value="189">Cajola</option>
                <option value="190">San Miguel Siguilça</option>
                <option value="191">San Juan Ostuncalco</option>
                <option value="192">San Mateo</option>
                <option value="193">Concepción Chiquirichapa</option>
                <option value="194">San Martín Sacatepequez</option>
                <option value="195">Almolonga</option>
                <option value="196">Cantel</option>
                <option value="197">Huitán</option>
                <option value="198">Zunil</option>
                <option value="199">Colomba</option>
                <option value="200">San Francisco La Unión</option>
                <option value="201">El Palmar</option>
                <option value="202">Coatepeque</option>
                <option value="203">Génova</option>
                <option value="204">Flores Costa Cuca</option>
                <option value="205">La Esperanza</option>
                <option value="206">Palestina de los Altos</option>
                <option value="120">Chiclayo </option>
                <option value="121">Ferreñafe </option>
                <option value="122">Lambayeque </option>
                <option value="65">Concepción de La Vega</option>
                <option value="66">Constanza</option>
                <option value="67">Jarabacoa</option>
                <option value="68">Jima Abajo </option>
            </select>
        </div>

        <div class="col-md-2">
            <label style="display: block"><br></label>
            <button class="btn-sm btn btn-primary" type="button" title="Buscar" tabindex="-1" data-hotkey="Ctrl+B"><span class="glyphicon glyphicon-search"></span> Buscar</button>
        </div>

    </div>
    <!-- @link: widgetGrid directive  -->
    <section id="widget-grid" data-widget-grid>
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!-- @link: jarvisWidget -->
            <div data-jarvis-widget id="data-attribute-driven-widget" data-widget-editbutton="false"
                 data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-color="white"
                 style="margin-bottom: 0;">
                <!-- widget div-->
                <div>
                    <!-- widget content -->
                    <div class="widget-body no-padding"
                         data-smart-fit-app-view="#map-canvas" data-leading-y="160">

                        <div data-smart-fill-content="" style="height: 600px;" id="map-canvas">
                            <ui-gmap-google-map control='map.control' center='map.center' zoom='map.zoom' options="map.options">
                                <ui-gmap-window show="map.infoWindow.show" coords="map.infoWindow.model.coords" closeClick="map.infoWindow.closeClick()" ng-bind-html="map.infoWindow.model.iwData"></ui-gmap-window>
                                <ui-gmap-markers models="markersCircuits" coords="'coords'" options="'options'" events="map.markersEvents"></ui-gmap-markers>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                    <!-- end widget content data-gmap-src="xml/gmap/pins.xml" -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </section>
    <!-- end widget grid -->

    <div class="row" style="margin-bottom: 20px;">
        <!--<div class="col-xs-4 col-md-4">-->
            <!--<h3 class="text-align-center margin-bottom-5">Operación de circuitos</h3>-->
            <!--<div class="widget-body text-align-center">-->
                <!--<canvas doughnut-chart data="graphOperacionCircuitos" height="180" ></canvas>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <h3 class="text-align-center margin-bottom-5">Operación de circuitos</h3>
            <div class="widget-body text-align-center">
                <div stackbar-chart data="graphOperacionCircuitos" style="min-width: 50%; max-width: 100%; height: 180px; margin: 0 auto;"></div>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
            <h3 class="text-align-center margin-bottom-5">Alarmas del sistema</h3>
            <div class="widget-body text-align-center">
                <div stackbar-chart data="graphAlarmasSistema" style="min-width: 50%; max-width: 100%; height: 180px; margin: 0 auto;"></div>
            </div>
        </div>

        <!--<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>-->
    </div>
</div>