<div id="content">
    <div class="well col-lg-10">

        <div class="row">
            <big-breadcrumbs items="[pageTitle, action]" icon="th-list"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        </div>

        <div class="row ng-hide" ng-show="(action==='add'||action==='agregar')||!!dataReady">
            <form name="form" novalidate>
                <div class="col-sm-12 col-md-10" >
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&!form.name.$error.required),
                            'has-error': (form.submited&&form.name.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Nombre</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="name"
                                   ng-model="polygon.name" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.name.$error.required">
                            Ingresa el nombre.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <div class="form-group col-sm-6 no-padding" ng-class="{
                            'has-success': (form.submited&&!form.code.$error.required),
                            'has-error': (form.submited&&form.code.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Código</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="code"
                                   ng-model="polygon.code" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.code.$error.required">
                              Ingresa el código.
                        </span>
                    </div>
                    <div class="form-group col-sm-6" style="padding-right: 0;">
                        <div class="margin-bottom-5"><b>Status</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-check-circle-o fa-fw"></i></span>
                            <select name="status" ng-model="polygon.active" ng-disabled="readOnly" class="form-control" >
                                <option value="true">ACTIVO</option>
                                <option value="false">INACTIVO</option>
                            </select><span class="hide-select-arrow" ng-if="readOnly"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="text-align-right">
            <button class="btn btn-default" ng-click="cancel()">{{(action!='view'&&action!='ver')?'Cancelar':'Regresar'}}</button>
            <button ng-if="!readOnly" class="btn btn-primary" ng-click="save()">Guardar</button>
        </div>

    </div>
</div>