<div id="content">
    <div class="well col-lg-10">

        <div class="row">
            <big-breadcrumbs items="[pageTitle, action]" icon="th-list"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        </div>

        <div class="row ng-hide" ng-show="(action==='add'||action==='agregar')||!!dataReady">
            <form name="form" novalidate>
                <div class="col-sm-12" >
                    <div class="form-group no-padding" ng-class="{
                            'has-success': (form.submited&&!form.controlNumber.$error.required),
                            'has-error': (form.submited&&form.controlNumber.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Número de control / Nombre</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-hashtag fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="controlNumber"
                                   ng-model="device.controlNumber" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.controlNumber.$error.required">
                            Ingresa el número de control.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-6 no-padding" ng-class="{
                            'has-success': (form.submited&&!form.mac.$error.required),
                            'has-error': (form.submited&&form.mac.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>MAC address</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-microchip fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="mac"
                                   ng-model="device.macAddress" ng-readonly="readOnly"
                                   data-smart-masked-input="FF:FF:FF:FF:FF:FF" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.mac.$error.required">
                              Ingresa el MAC address del circuito.
                        </span>
                    </div>
                    <div class="form-group col-sm-3 padding-right-none">
                        <div class="margin-bottom-5"><b>Hora de apagado</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-circle-o fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="ligthOffHour"
                                   ng-model="device.ligthOffHour" ng-readonly="readOnly"
                                   data-smart-clockpicker data-autoclose="true"
                                   data-smart-masked-input="99:99" data-mask-placeholder="-" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.ligthOffHour.$error.required">
                            Seleccione la hora de apagado del circuito.
                        </span>
                    </div>
                    <div class="form-group col-sm-3 padding-right-none">
                        <div class="margin-bottom-5"><b>Hora de encendido</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-circle fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="ligthOnHour"
                                   ng-model="device.ligthOnHour" ng-readonly="readOnly"
                                   data-smart-clockpicker data-autoclose="true"
                                   data-smart-masked-input="99:99" data-mask-placeholder="-" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.ligthOffHour.$error.required">
                            Seleccione la hora de encendido del circuito.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-4 padding-left-none" ng-class="{
                            'has-success': (form.submited&&!device.lamps<1),
                            'has-error': (form.submited&&device.lamps<1)
                        }">
                        <div class="margin-bottom-5"><b>Número de lamparas</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-lightbulb-o fa-fw"></i></span>
                            <input class="form-control input-lg" type="number" min="1" name="lamps"
                                   ng-model="device.lamps" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||device.lamps<1">
                              Ingrese el número de lamparas del circuito.
                        </span>
                    </div>
                    <div class="form-group col-sm-4" ng-class="{
                            'has-success': (form.submited&&!device.timeBeforeNotify<1),
                            'has-error': (form.submited&&device.timeBeforeNotify<1)
                        }">
                        <div class="margin-bottom-5"><b>Minutos para notificación</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                            <input class="form-control input-lg" type="number" min="0" name="timeBeforeNotify"
                                   ng-model="device.timeBeforeNotify" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||device.timeBeforeNotify<1">
                              Ingrese los minutos para la notificación.
                        </span>
                    </div>
                    <div class="form-group col-sm-4 padding-right-none" ng-class="{
                            'has-success': (form.submited&&!device.timeToMarkAsDisconnected<1),
                            'has-error': (form.submited&&device.timeToMarkAsDisconnected<1)
                        }">
                        <div class="margin-bottom-5"><b>Minutos para marcar como desconectado</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                            <input class="form-control input-lg" type="number" min="0" name="timeToMarkAsDisconnected"
                                   ng-model="device.timeToMarkAsDisconnected" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||device.timeToMarkAsDisconnected<1">
                              Ingrese los minutos para marcar como desconectado.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group col-sm-5 col-sm-offset-1" ng-class="{
                            'has-success': (form.submited&&!form.latitude.$error.required),
                            'has-error': (form.submited&&form.latitude.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Latitude</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="latitude"
                                   ng-model="device.latitude" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.latitude.$error.required">
                              Ingrese las coordenadas.
                        </span>
                    </div>
                    <div class="form-group col-sm-5" ng-class="{
                            'has-success': (form.submited&&!form.longitude.$error.required),
                            'has-error': (form.submited&&form.longitude.$error.required)
                        }">
                        <div class="margin-bottom-5"><b>Longitude</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="longitude"
                                   ng-model="device.longitude" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited||!form.longitude.$error.required">
                              Ingrese las coordenadas.
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-10 col-sm-offset-1 no-padding margin-bottom-10">
            <div class="widget-body" data-smart-fit-app-view="#map-canvas" data-leading-y="160">
                <div data-smart-fill-content="" style="height: 300px;" id="map-canvas">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" events="map.events">
                        <ui-gmap-marker idKey="mapMarker.id" options="mapMarker.options" events="mapMarker.events" coords="device"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-align-right">
            <button class="btn btn-default" ng-click="cancel()">{{(action!='view'&&action!='ver')?'Cancelar':'Regresar'}}</button>
            <button ng-if="!readOnly" class="btn btn-primary" ng-click="save()">Guardar</button>
        </div>

    </div>
</div>