<div id="content">
    <div class="well col-lg-10">

        <div class="row">
            <big-breadcrumbs items="[pageTitle, action]" icon="shield"
                             class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
        </div>

        <div class="row ng-hide" ng-show="(action==='add'||action==='agregar')||!!dataReady">
            <form name="form" novalidate>
                <div class="col-sm-12 col-md-10" >
                    <div class="form-group" ng-class="{
                            'has-success': (form.submited&&!!module.name),
                            'has-error': (form.submited&&!module.name)
                        }">
                        <div class="margin-bottom-5"><b>Nombre del Modulo</b></div>
                        <div class="input-group" ng-class="{'read-only': readOnly}">
                            <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                            <input class="form-control input-lg" type="text" name="name"
                                   ng-model="module.name" ng-readonly="readOnly" required >
                        </div>
                        <span class="help-block" ng-if="!readOnly" ng-hide="!form.submited || !!module.name">
                            Por favor ingresa el nombre del modulo.
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10">
                    <div><b>Permisos del Modulo</b></div>
                    <div class="form-div-table vbottom margin-top-5" ng-if="!readOnly"
                        ng-class="{
                            'has-error': duplexPermission||(form.submited&&(!module.permissions.length?(!module.namePermission||!module.codePermission):!!module.namePermission!==!!module.codePermission)),
                            'has-success': (form.submited&&(module.namePermission && module.codePermission))
                        }">
                        <div class="padding-right-15">
                            <div class="margin-bottom-5">Nombre de permiso</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                                <input class="form-control input-lg" type="text" name="namePermission"
                                       ng-model="module.namePermission" ng-required="!module.permissions.length" >
                            </div>
                        </div>
                        <div class="padding-left-15">
                            <div class="margin-bottom-5">Código de permiso</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                                <input class="form-control input-lg text-uppercase" type="text" name="codePermission"
                                       ng-model="module.codePermission" ng-required="!module.permissions.length" >
                            </div>
                        </div>
                    </div>
                    <span style="color: #b94a48" class="help-block" ng-if="!readOnly"
                          ng-hide="
                                !duplexPermission&&
                                (!form.submited||(!!module.namePermission&&!!module.codePermission))||
                                (!!module.permissions.length&&(!module.namePermission&&!module.codePermission))
                                ">
                                    {{duplexPermission?'Permiso duplicado.':(!module.permissions.length?'Debe agregar al menos un permiso':'Por favor ingresa la información completa del permiso.')}}
                    </span>

                    <a class="btn btn-primary margin-top-10" ng-click="addPermission()"
                       ng-if="!readOnly">Agregar Permisos</a>
                </div>
            </form>
        </div>

        <div class="row margin-bottom-10" ng-class="{'margin-top-10': !readOnly}">
            <div class="col-sm-12 col-md-10"
                 ng-repeat="permission in module.permissions track by $index" ng-if="permission">
                <div class="form-div-table vbottom form-added"
                     ng-class="{
                        'updating': permission.updating,
                        'has-error': permission.error,
                        'margin-top-5': !readOnly
                    }">
                    <div class="padding-right-15">
                        <div class="margin-bottom-5" ng-if="$index<1">Nombre</div>
                        <div class="icon-addon addon-md">
                            <input class="form-control" type="text"
                                   name="namePermission_{{$index}}" id="namePermission_{{$index}}"
                                   ng-readonly="!permission.updating"
                                   required ng-model="permission.name">
                            <label for="namePermission_{{$index}}"
                                   class="fa fa-tag fa-lg fa-fw"></label>
                        </div>
                    </div>
                    <div class="padding-left-15">
                        <div class="margin-bottom-5" ng-if="$index<1">Código</div>
                        <div class="icon-addon addon-md">
                            <input class="form-control text-uppercase" type="text"
                                   name="codePermission_{{$index}}" id="codePermission_{{$index}}"
                                   ng-readonly="!permission.updating"
                                   required ng-model="permission.code">
                            <label for="codePermission_{{$index}}"
                                   class="fa fa-lock fa-lg fa-fw"></label>
                        </div>
                    </div>
                    <div class="actions padding-left-10" ng-if="!readOnly">
                        <a class="btn btn-primary" ng-click="updatePermission($index)">
                            <i class="fa fa-lg" ng-class="{
                                    'fa-refresh': permission.updating,
                                    'fa-pencil': !permission.updating
                                }"></i>
                        </a>
                        <a class="btn btn-danger" ng-click="deletePermission($index)">
                            <i class="fa fa-trash fa-lg"></i>
                        </a>
                    </div>
                </div>
                <div ng-if="!readOnly && permission">
                    <span style="color: #b94a48" class="help-block" ng-hide="permission.error==''">{{permission.error}}</span>
                </div>
            </div>
        </div>

        <div class="text-align-right">
            <button class="btn btn-default" ng-click="cancel()">{{!readOnly?'Cancelar':'Regresar'}}</button>
            <button ng-if="!readOnly" class="btn btn-primary" ng-click="save()">Guardar</button>
        </div>

    </div>
</div>