<div id="content">

    <!-- content -->
    <div class="row">
        <article class="col-xs-12 col-sm-8">
            <div>
                <button class="btn btn-default btn-sm no-border buttons-html5"
                        ng-class="{'bg-color-orange txt-color-white': graphFilter=='D'}"
                        ng-click="filter('D')">1d</button>
                <button class="btn btn-default btn-sm no-border buttons-html5"
                        ng-class="{'bg-color-orange txt-color-white': graphFilter=='S'}"
                        ng-click="filter('S')">7d</button>
                <button class="btn btn-default btn-sm no-border buttons-html5"
                        ng-class="{'bg-color-orange txt-color-white': graphFilter=='M'}"
                        ng-click="filter('M')">28d</button>

            </div>
            <operativo-graph data="graphData"></operativo-graph>
        </article>
        <article class="col-xs-12 col-sm-4">
            <table class="table" >
                <thead>
                <tr>
                    <th><h2 class="no-margin">Medición</h2>
                        <h5 class="no-margin text-warning">Actual</h5>
                    </th>
                    <th><h2>Fase 1</h2></th>
                    <th><h2>Fase 2</h2></th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class=""><span class="label label-warning">Voltaje <i class="fa fa-bolt"></i></span></td>

                    <td class="text-right">{{currentRecord.fase1.voltaje}} <span class="text-warning text-s"><strong>V</strong></span></td>
                    <td class="text-right">{{currentRecord.fase2.voltaje}} <span class="text-warning text-s"><strong>V</strong></span></td>
                </tr>
                <tr>
                    <td><span class="label label-warning">Corriente <i class="fa fa-plug"></i></span></td>

                    <td class="text-right">{{currentRecord.fase1.corriente}} <span class="text-warning text-s"><strong>A</strong></span></td>
                    <td class="text-right">{{currentRecord.fase2.corriente}} <span class="text-warning text-s"><strong>A</strong></span></td>
                </tr>
                <tr>
                    <td><span class="label label-warning">Demanda <i class="fa fa-lightbulb-o"></i></span></td>

                    <td class="text-right">{{currentRecord.fase1.potencia}} <span class="text-warning text-s"><strong>kW</strong></span></td>
                    <td class="text-right">{{currentRecord.fase2.potencia}} <span class="text-warning text-s"><strong>kW</strong></span></td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
    <br><br>
    <div class="row">
        <div class="table-responsive no-border-datatable">
            <table datatable dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtCallback" class="table table-striped table-hover" width="100%">
                <thead>
                    <tr>
                        <th>Circuito</th>
                        <th>Comunicación</th>
                        <th data-hide="phone">Ultima sincronización</th>
                        <th>Ubicación</th>
                        <th>Operación</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

